<template>
  <div class="overlay-holder">
    <div
      v-if="show"
      class="
        overlay
        bg-cover
        fixed
        top-0
        left-0
        w-screen
        h-screen
        pointer-events-none
        opacity-30
        z-50
      "
      :style="{ backgroundImage: `url(${bgImg})` }"
    ></div>
    <div class="fixed bottom-0 right-0 flex z-50">
      <button
        v-for="n in 3"
        :key="n"
        class="
          px-3
          py-1
          mx-1
          bg-white
          hover:bg-blue-500
          rounded-lg
          focus:outline-none focus:ring-0
          z-50
        "
        @click="overlay = n"
      >
        {{ n }}
      </button>
      <button
        class="
          px-3
          py-1
          mx-1
          bg-white
          hover:bg-blue-500
          rounded-lg
          focus:outline-none focus:ring-0
        "
        @click="show = !show"
      >
        {{ show ? 'Off' : 'On' }}
      </button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show: false,
      overlay: 1,
    }
  },
  computed: {
    bgImg() {
      return require(`~/assets/images/ov${this.overlay}.png`)
    },
  },
}
</script>
<style lang="scss">
.overlay {
  background-size: 100%;
  background-repeat: no-repeat;
}
</style>
