@font-face {
  font-family: 'GMV DIN Pro';
  src: url('../fonts/subset-GMVDINPro-Black.woff2') format('woff2'),
    url('../fonts/subset-GMVDINPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GMV DIN Pro';
  src: url('../fonts/subset-GMVDINPro-Bold.woff2') format('woff2'),
    url('../fonts/subset-GMVDINPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GMV DIN Pro';
  src: url('../fonts/subset-GMVDINPro-Medium.woff2') format('woff2'),
    url('../fonts/subset-GMVDINPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GMV DIN Pro';
  src: url('../fonts/subset-GMVDINPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/subset-GMVDINPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
