<template>
  <div class="wrapper">
    <!-- BG animation -->
    <div v-for="(bg, index) in bgImgs" :key="index" class="bg">
      <transition class="bg" tag="div" name="fade">
        <div
          v-if="index === currentGiaiIndex + 1"
          class="bg"
          :style="{ backgroundImage: `url(${bg})` }"
        ></div>
      </transition>
    </div>
    <!-- cache images -->
    <div v-for="(bg, index) in bgImgs" :key="index" class="bg hidden">
      <div
        v-if="index === currentGiaiIndex + 1"
        class="bg"
        :style="{ backgroundImage: `url(${bg})` }"
      ></div>
    </div>
    <div class="wrap-inner">
      <div class="logo">
        <img src="~/assets/images/title.png" alt="" />
      </div>
      <IOdometer class="iOdometer" :value="displayKetQua" />
      <Animated enter="zoomInDown" leave="zoomOutDown">
        <div v-if="!haveResult" class="content-wrap">
          <div class="row-wrap" :class="{ selected: lanQuay > 0 }">
            <div class="select-wrap">
              <div class="select-giai">
                <select
                  v-model.number="currentGiaiIndex"
                  @change="resetLanQuay"
                >
                  <option value="-1" selected>Chọn giải</option>
                  <option
                    v-for="(giai, index) in dsGiai"
                    :key="index"
                    :value="index"
                  >
                    {{ giai.name }}
                  </option>
                </select>
              </div>
              <div class="select-lanquay">
                <select v-model.number="lanQuay">
                  <option value="-1" selected>Chọn lần quay</option>
                  <option v-for="r in numOfRound" :key="r" :value="r">
                    Lần quay:
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                      r
                    }}/{{ numOfRound }}
                  </option>
                </select>
              </div>
            </div>
            <Animated enter="fadeInUp" leave="fadeOutDown">
              <div
                v-if="currentGiaiIndex > -1 && lanQuay > -1"
                class="description"
              >
                <div>
                  Lần quay {{ lanQuay }}/{{ numOfRound }}
                  {{ selectedGiai.name }}
                </div>
                <div class="giai-description">
                  {{ selectedGiai.description }}
                </div>
              </div>
            </Animated>
          </div>
          <div class="buttons flex justify-center">
            <div class="flex justify-center">
              <button class="btn btn-quayngay" @click="quaySo">
                Quay ngay
              </button>
            </div>
          </div>
        </div>
      </Animated>
      <Animated enter="zoomInDown" leave="zoomOutDown">
        <div v-if="haveResult" class="content-wrap">
          <div class="result description">
            <div>
              Chúc mừng SĐT <strong>0123456789</strong> đã trúng Giải Nhất
            </div>
            <div class="giai-description">{{ selectedGiai.description }}</div>
            <div>
              với mã số dự thưởng <strong>{{ ketqua }}</strong>
            </div>
          </div>
          <div class="buttons flex justify-center">
            <div class="flex justify-center">
              <button class="btn btn-xacnhan">Xác nhận</button>
              <button class="btn btn-quaylai" @click="back">Quay lại</button>
            </div>
          </div>
        </div>
      </Animated>
    </div>
    <overlay />
  </div>
</template>

<script>
import IOdometer from 'vue-odometer'
import 'odometer/themes/odometer-theme-default.css'

export default {
  components: {
    IOdometer,
  },
  data() {
    return {
      ketqua: 0,
      haveResult: false,
      dsGiai: [
        {
          name: 'Giải Nhất',
          description: 'Xe Máy Honda SH Mode (Bản Thời Trang CBS) 2020',
          round: 2,
        },
        {
          name: 'Giải Nhì',
          description: 'Điện thoại iPhone 12 Mini 64GB',
          round: 3,
        },
        {
          name: 'Giải Ba',
          description: 'Máy Ép Chậm PANASONIC MJ- L500SRA (Loại O1A)',
          round: 5,
        },
      ],
      currentGiaiIndex: -1,
      lanQuay: -1,
    }
  },
  computed: {
    selectedGiai() {
      return this.dsGiai[this.currentGiaiIndex] || { round: 0 }
    },
    numOfRound() {
      return this.dsGiai[this.currentGiaiIndex]?.round || 0
    },
    displayKetQua() {
      return this.ketqua + 100000000
    },
    bgImgs() {
      const bgs = []
      for (let i = 0; i < 4; i++) {
        bgs.push(require(`~/assets/images/bg${i}.jpg`))
      }
      return bgs
    },
  },
  mounted() {},
  methods: {
    resetLanQuay() {
      this.lanQuay = -1
    },
    quaySo() {
      if (this.currentGiaiIndex < 0 || this.lanQuay < 0) return
      // TODO: Get from server
      this.ketqua = Math.round(Math.random() * 99999999)
      setTimeout(() => {
        this.haveResult = true
      }, 1500)
    },
    back() {
      this.ketqua = 0
      this.haveResult = false
    },
  },
}
</script>

<style lang="scss">
* {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}
body {
  font-family: 'GMV DIN Pro';
  font-weight: 500;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 1s;
}
.fade-enter, .fade-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.wrapper {
  background-image: url('~/assets/images/bg.jpg');
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.wrap-inner {
  position: relative;
  z-index: 10;
}
.logo {
  max-width: 52.8125vw;
  padding-top: 4.85vw;
  img {
    width: 100%;
  }
}
.content-wrap {
  position: absolute;
  width: 52.8125vw;
  top: 31.25vw;
  left: 0;
}
.button {
  @apply py-3 px-10 my-3;
}
.iOdometer.odometer-theme-default {
  font-size: 5em;
  margin: 0;
  display: block;
  .odometer-inside {
    width: 49.55729166666667vw;
    height: 8.75vw;
    font-family: 'GMV DIN Pro';
    background: url('~/assets/images/bangso.png') 0 0 no-repeat;
    margin: 0.5vw auto 0;
    padding: 0.72vw 0.5vw 0;
    font-size: 6.25vw;
    font-weight: 900;
    line-height: 1.1em;
  }
  .odometer-digit {
    width: 5.546875vw;
    padding: 0 1.29vw;
    .odometer-digit-inner {
      height: 7.34375vw;
      overflow: hidden;
      top: 0.1vw !important;
    }
    .odometer-value {
      padding: 0 1.29vw !important;
    }
    overflow: hidden;
  }
}
.odometer .odometer-inside .odometer-digit:first-child,
.odometer .odometer-inside .odometer-formatting-mark {
  display: none;
}

.select-wrap {
  @apply flex justify-center items-center;
}
.select-giai,
.select-lanquay {
  margin: 0 0.5859375vw;
  width: 15.80729166666667vw;
  height: 3.046875vw;
  background: url('~/assets/images/select.png') 0 0 no-repeat;
  font-size: 1.3vw;
  select {
    @apply focus:outline-none focus:ring-0;
    width: 100%;
    height: 100%;
    background: transparent;
    appearance: none;
    text-transform: uppercase;
    padding: 0 1.3vw;
    font-weight: 700;
  }
}
.select-lanquay {
  background-image: url('~/assets/images/input.png');
}
.row-wrap {
  @apply flex flex-col;
  padding-top: 1.6vw;
  height: 10.219791666666667vw;
  .select-wrap {
    padding-top: 2.2vw;
    transition: all 0.5s ease-in-out;
  }
  &.selected {
    .select-wrap {
      padding-top: 0;
    }
  }
}
.description {
  width: 35.20833333333333vw;
  height: 4.296875vw;
  margin: 0 auto;
  background-image: url('~/assets/images/desc.png');
  line-height: 1.1em;
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1.3vw;
}
.giai-description {
  font-weight: 700;
}
.btn {
  @apply focus:outline-none focus:ring-0;
  width: 13.90625vw;
  height: 2.630208333333333vw;
  margin: 1.75vw 1vw 0;
  text-indent: -9999em;
}
.btn-quayngay {
  background-image: url('~/assets/images/btn-quayngay.png');
}
.btn-xacnhan {
  background-image: url('~/assets/images/btn-xacnhan.png');
}
.btn-quaylai {
  background-image: url('~/assets/images/btn-quaylai.png');
}
.result {
  width: 35.20833333333333vw;
  height: 5.546875vw;
  margin-top: 1.65vw;
  background-image: url('~/assets/images/ketqua.png');
}
</style>
